{# templates/web/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
     <div class="body">
        
        
    <div class="blackbanner">  
    <div id="textbannerproductos" class="container productoText">    
        <div class="row">
            <br>
            <div class="col-xs-7 col-sm-6 col-lg-6">
                <h2>PRODUCTOS</h2>
                -------------------<br>
                Como parte de nuestra creciente cartera móvil, 
                ahora ofrecemos nuestra selección 
                de juegos beta gratuitos en 
                google play. <br>
                <br>
                ¡Prueba de nuestros juegos y descubre cuáles <br>
                se adaptan mejor a tus gustos! <br>
            </div>
<div class="col-xs-5 col-sm-6 col-lg-4">
           	<a href="https://play.google.com/store/apps/developer?id=Escuela+Superior+Polit%C3%A9cnica+del+Litoral" target="_blank">
                <img class="logo-cuatroface" src="{{ asset('images/game/cuatro.jpg') }}" /></a>
            </div>
            <br>
        </div>        
    </div>
    </div>  
    
    
    
    <div class="container productoText textneue"> 
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img class="ave wiggle imgshadow" src="{{ asset('images/game/productos_ave.png') }}" />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mt-4">
                <h2>MATERIAL ESCOLAR</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 textocentrado">
                ---------------------------------
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                <div class="meparrafo text-center mt-4">
                Nuestra gama de juegos MIDI-AM te ofrece una variedad de material didáctico para los niños, que pueden ser usados en la casa o en la escuela. Prueba nuestro material escolar y descubre cuales se adaptan mejor a tu gusto. <br><br><br>
                </div>
            
            
                {#<div class="variosIconos">
                    <img class="iconoP" src="{{ asset('images/game/productos_ico1.png') }}" />
                    <img class="iconoP" src="{{ asset('images/game/productos_ico2.png') }}" />
                    <img class="iconoP" src="{{ asset('images/game/productos_ico3.png') }}" />
                    <img class="iconoP" src="{{ asset('images/game/productos_ico4.png') }}" />
                </div> #}  


<div class="flex-container ave">
            <div class="flex-item">
                 <img class="iconoP" src="{{ asset('images/game/productos_ico1.png') }}" />
            </div>
            <div class="flex-item">
                <img class="iconoP" src="{{ asset('images/game/productos_ico2.png') }}" />
            </div>
<div class="flex-item">
                 <img class="iconoP" src="{{ asset('images/game/productos_ico3.png') }}" />
            </div>
<div class="flex-item">
               <img class="iconoP" src="{{ asset('images/game/productos_ico4.png') }}" />
            </div>

</div>
         


		</div>                       
        </div>
      
    </div>

<script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script src="{{ asset('js/Demo.js') }}"></script>
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/funcion.js') }}"></script>
    <script src="{{ asset('js/jBox.js') }}"></script>
    <script src="{{ asset('js/jBox.min.js') }}"></script>
    <script src="{{ asset('js/jBox.Confirm.js') }}"></script>
    <script src="{{ asset('js/jBox.Confirm.min.js') }}"></script>
    <script src="{{ asset('js/jBox.Image.js') }}"></script>
    <script src="{{ asset('js/jBox.Image.min.js') }}"></script>
    <script src="{{ asset('js/jBox.Notice.js') }}"></script>
    <script src="{{ asset('js/jBox.Notice.min.js') }}"></script>
    
{% endblock %}

{% block javascripts %}
{% endblock %}
